.hidden {
    display: none;
}

.resultItem {
    max-width: 33%;
    margin: 5px;
    padding: 5px 15px;
    border: 2px black solid;
    border-radius: 10px;
    list-style-type: none;
}

.teamLogo {
    float: left;
    width: 100px;
    margin: 10px 15px 10px 5px;
}

.vitalTitle {
    font-weight: bold;
}

.article {
    text-decoration: none;
    color: black;
}

.articleImg {
    width: 250px;
}